<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= todo.content %>
  </p>


  <p>
    <strong>Created By:</strong>
    <%= todo.user %>
  </p>

  <p>
    <strong>Is complete:</strong>
    <%= todo.is_complete %>
  </p>

</div>
